
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  margin:auto;
  text-align: center;
  padding: 50px;

}
.gallow-container {
  stroke: brown;
  stroke-width: 5px;
}

.hidden{
  display:none;
}

.letter-container{
  color: red;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: center;
  max-width: 30%; 
  cursor: pointer;
  
}
.letter{
  border: 1px solid black;
  width: 30px;
  height: 30px;

}

.guess-container{
  justify-content: space-between;
  max-width: 50%;
  display:flex;
  margin: 0 auto;
  margin-bottom:20px;
}
.answer-letter{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
  height:60px;
  border-bottom: 1px solid red;
}
/* .letterOptions {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
