
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  margin:auto;
  text-align: center;
  padding: 100px;

}


/* .hidden{
 text-decoration: wavy;
 text-decoration-color: black;

} */


.letter-container{
  color: red;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: center;
  max-width: 25%; 
  cursor: pointer;
  
}
.letter{
  border: 1px solid black;
  width: 30px;
  height: 30px;

}

.guess-container{
  justify-content: space-between;
  max-width: 23%;
  display:flex;
  margin: 0 auto;
  margin-bottom:60px;
  
}
.answer-letter{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
  height:60px;
  border-bottom: 4px solid black;
  margin: 0 15px 0 15px
}
 .hidden{
  visibility: hidden;
 }
 .gallow-container{
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
    }
    .div1 { 
      grid-area: 1 / 4 / 2 / 4; 
      background-image: url("../img/gallow.PNG");
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center center;


    }
    .div2 { 
    grid-area:2 / 4 / 4 / 5;
    background-image: url("../img/leftarm.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;

   }
    .div3 {
       grid-area: 2 / 3 / 4 / 3; 
       background-image: url("../img/rightarm.png");
       background-repeat: no-repeat;
       background-size:contain;
       background-position: center center;

      }
      
    .div4 { grid-area: 2 / 3 / 6 / 4; }
    .div5 { grid-area: 4 / 4 / 6 / 5; }
    .div6 { grid-area: 4 / 2 / 6 / 3; }



.btn-container{
  margin-top: 30px;
}

.text-announcer{
  font-size: 40px;
}

h1{
  font-size: 100px;
}
/* .letterOptions {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
