
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  margin:auto;
  text-align: center;
  padding: 50px;

}


/* .hidden{
 text-decoration: wavy;
 text-decoration-color: black;

} */


.letter-container{
  color: red;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  text-align: center;
  max-width: 25%; 
  cursor: pointer;
  
}
.letter{
  border: 1px solid black;
  width: 30px;
  height: 30px;

}

.guess-container{
  justify-content: space-between;
  max-width: 23%;
  display:flex;
  margin: 0 auto;
  margin-bottom:60px;
  
}
.answer-letter{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 60px;
  height:60px;
  border-bottom: 4px solid black;
  margin: 0 15px 0 15px
}
 .hidden{
  visibility: hidden;
 }


.btn-container{
  margin-top: 30px;
}

.text-announcer{
  font-size: 40px;
}

h1{
  font-size: 50px;
}
/* .letterOptions {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
